/**
 * Rotation classes for block level elements (images, videos, blockquotes, etc.)
 */
.rotate-left.rotate-caption,
.rotate-left:not(.rotate-caption)>.embedded-entity {
  transform: rotate(-7deg);
  shape-margin: 1em;
}

.rotate-right.rotate-caption,
.rotate-right:not(.rotate-caption)>.embedded-entity {
  transform: rotate(7deg);
  shape-margin: 1em;
}

.rotate-left:not(.rotate-caption)>.embedded-entity,
.rotate-right:not(.rotate-caption)>.embedded-entity {
  margin-bottom: 7%;
}

// [class*="3x4"],
// [class*="3-4"] {
//   &:not(.align-center) {
//     &.rotate-left {
//       shape-outside: polygon(-1% 8%, 82% -1%, 97% 92%, 12% 101%) margin-box;

//       &[class*="large"] {
//         margin: 3% 6% 3% 6%;
//       }

//       &[class*="medium"] {
//         margin: 2% 4% 2% 6%;
//       }

//       &[class*="small"] {
//         margin: 1% 3% 1% 3%;
//       }
//     }

//     &.rotate-right {
//       shape-outside: polygon(15% -1%, 100% 7%, 86% 101%, 0% 93%) margin-box;

//       &[class*="large"] {
//         margin: 3% 6% 3% 6%;
//       }

//       &[class*="medium"] {
//         margin: 2% 4% 2% 4%;
//       }

//       &[class*="small"] {
//         margin: 1% 3% 1% 3%;
//       }
//     }
//   }
// }

// [class*="4x3"],
// [class*="4-3"] {
//   &:not(.align-center) {
//     &.rotate-left {
//       shape-outside: polygon(0.5% 14%, 87% 1%, 95.5% 86%, 8.5% 99%) margin-box;

//       &[class*="large"] {
//         margin: 4% 6% 4% 6%;
//       }

//       &[class*="medium"] {
//         margin: 3% 5% 3% 5%;
//       }

//       &[class*="small"] {
//         margin: 2% 3% 2% 3%;
//       }
//     }

//     &.rotate-right {
//       shape-outside: polygon(13.5% 1.5%, 99% 14%, 91% 99%, 5% 86%) margin-box;

//       &[class*="large"] {
//         margin: 4% 6% 4% 6%;
//       }

//       &[class*="medium"] {
//         margin: 3% 4% 3% 4%;
//       }

//       &[class*="small"] {
//         margin: 2% 3% 2% 3%;
//       }
//     }
//   }
// }

// [class*="9x16"],
// [class*="9-16"] {
//   &:not(.align-center) {
//     &.rotate-left {
//       shape-outside: polygon(-2% 6%, 77% 0%, 95% 94%, 16% 100%) margin-box;

//       &[class*="large"] {
//         margin: 2% 6% 2% 6%;
//       }

//       &[class*="medium"] {
//         margin: 2% 5% 2% 5%;
//       }

//       &[class*="small"] {
//         margin: 2% 3% 2% 3%;
//       }
//     }

//     &.rotate-right {
//       shape-outside: polygon(21% 0%, 102% 6%, 83% 100%, 3% 94%) margin-box;

//       &[class*="large"] {
//         margin: 2% 6% 2% 6%;
//       }

//       &[class*="medium"] {
//         margin: 2% 5% 2% 5%;
//       }

//       &[class*="small"] {
//         margin: 2% 3% 2% 3%;
//       }
//     }
//   }
// }

// [class*="16x9"],
// [class*="16-9"] {
//   &:not(.align-center) {
//     &.rotate-left {
//       shape-outside: polygon(1% 17%, 88% 1%, 95% 85%, 8% 100%) margin-box;

//       &[class*="large"] {
//         margin: 4% 6% 4% 6%;
//       }

//       &[class*="medium"] {
//         margin: 3% 4% 3% 4%;
//       }

//       &[class*="small"] {
//         margin: 2% 3% 2% 3%;
//       }
//     }

//     &.rotate-right {
//       shape-outside: polygon(12.3% 1%, 98.5% 17.5%, 92.5% 99%, 5.5% 83%) margin-box;

//       &[class*="large"] {
//         margin: 4% 6% 4% 6%;
//       }

//       &[class*="medium"] {
//         margin: 3% 4% 3% 4%;
//       }

//       &[class*="small"] {
//         margin: 2% 3% 2% 3%;
//       }
//     }

//   }
// }

.align-center {
  margin-left: auto !important;
  margin-right: auto !important;

  .rotate-right {
    display: block;
    clear: both;
  }

  .rotate-left {
    display: block;
    clear: both;
  }
}

.align-left {
  margin-right: 2em;
  float: left;

  &[class*="4x3"],
  &[class*="4-3"],
  &[class*="16x9"],
  &[class*="16-9"] {
    &[class*="large"] {
      @media (max-width: 949px) {
        margin: 2em auto;

        &[class*="rotate-left"] {
          transform: rotate(-7deg) scale(0.9);
        }

        &[class*="rotate-right"] {
          transform: rotate(7deg) scale(0.9);
        }
      }
    }

    &[class*="medium"] {
      @media (max-width: 719px) {
        margin: 2em auto;
      }
    }

    &[class*="small"] {
      @media (max-width: 399px) {
        margin: 2em auto;
      }
    }
  }

  &[class*="3x4"],
  &[class*="3-4"],
  &[class*="9x16"],
  &[class*="9-16"] {
    &[class*="large"] {
      @media (max-width: 799px) {
        margin: 2em auto;

        &[class*="rotate-left"] {
          transform: rotate(-7deg) scale(0.9);
        }

        &[class*="rotate-right"] {
          transform: rotate(7deg) scale(0.9);
        }
      }
    }

    &[class*="medium"] {
      @media (max-width: 599px) {
        margin: 2em auto;
      }
    }

    &[class*="small"] {
      @media (max-width: 359px) {
        margin: 2em auto;
      }
    }
  }
}

.align-right {
  margin-left: 2em;
  float: right;

  &[class*="4x3"],
  &[class*="4-3"],
  &[class*="16x9"],
  &[class*="16-9"] {
    &[class*="large"] {
      @media (max-width: 949px) {
        margin: 2em auto;

        &[class*="rotate-left"] {
          transform: rotate(-7deg) scale(0.9);
        }

        &[class*="rotate-right"] {
          transform: rotate(7deg) scale(0.9);
        }
      }
    }

    &[class*="medium"] {
      @media (max-width: 719px) {
        margin: 2em auto;
      }
    }

    &[class*="small"] {
      @media (max-width: 399px) {
        margin: 2em auto;
      }
    }
  }

  &[class*="3x4"],
  &[class*="3-4"],
  &[class*="9x16"],
  &[class*="9-16"] {
    &[class*="large"] {
      @media (max-width: 799px) {
        margin: 2em auto;

        &[class*="rotate-left"] {
          transform: rotate(-7deg) scale(0.9);
        }

        &[class*="rotate-right"] {
          transform: rotate(7deg) scale(0.9);
        }
      }
    }

    &[class*="medium"] {
      @media (max-width: 599px) {
        margin: 2em auto;
      }
    }

    &[class*="small"] {
      @media (max-width: 359px) {
        margin: 2em auto;
      }
    }
  }
}