/**
 * Rotation classes for block level elements (images, videos, blockquotes, etc.)
 */
.rotate-left {
  transform: rotate(-7deg);
  margin: 6% 10% 6% 6%;
  shape-outside: polygon(3% 18%, 87% 2%, 93% 76%, 97% 100%, 0% 100%) margin-box;
  shape-margin: 1em;
}
.rotate-right {
  transform: rotate(7deg);
  margin: 6% 10% 6% 6%;
  shape-outside: polygon(9% 0%, 93% 17%, 86% 100%, 0% 100%, 0% 97%) margin-box;
  shape-margin: 1em;
}

.align-center.rotate-left {
  display: block;
  clear: both;
}

.align-center.rotate-right {
  display: block;
  clear: both;
}

.align-left {
  float: left;margin
}
.align-right {
  float: right;
}

