/**
 * Rotation classes for block level elements (images, videos, blockquotes, etc.)
 */
.rotate-left {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  shape-margin: 1em;
}

.rotate-right {
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  shape-margin: 1em;
}

[class*="3x4"].rotate-left,
[class*="3-4"].rotate-left {
  shape-outside: polygon(-1% 8%, 82% -1%, 97% 92%, 12% 101%) margin-box;
}

[class*="3x4"].rotate-left[class*="large"],
[class*="3-4"].rotate-left[class*="large"] {
  margin: 2% 6% 2% 3%;
}

[class*="3x4"].rotate-left[class*="medium"],
[class*="3-4"].rotate-left[class*="medium"] {
  margin: 2% 4% 2% 2%;
}

[class*="3x4"].rotate-left[class*="small"],
[class*="3-4"].rotate-left[class*="small"] {
  margin: 1% 3% 1% 2%;
}

[class*="3x4"].rotate-right,
[class*="3-4"].rotate-right {
  shape-outside: polygon(15% -1%, 100% 7%, 86% 101%, 0% 93%) margin-box;
}

[class*="3x4"].rotate-right[class*="large"],
[class*="3-4"].rotate-right[class*="large"] {
  margin: 2% 4% 2% 4%;
}

[class*="3x4"].rotate-right[class*="medium"],
[class*="3-4"].rotate-right[class*="medium"] {
  margin: 2% 3% 2% 3%;
}

[class*="3x4"].rotate-right[class*="small"],
[class*="3-4"].rotate-right[class*="small"] {
  margin: 1% 2% 1% 2%;
}

[class*="4x3"].rotate-left,
[class*="4-3"].rotate-left {
  shape-outside: polygon(3% 15%, 85% 2%, 93% 85%, 11% 98%) margin-box;
}

[class*="4x3"].rotate-right,
[class*="4-3"].rotate-right {
  shape-outside: polygon(11% 2%, 93% 15%, 85% 98%, 3% 85%) margin-box;
}

[class*="9x16"].rotate-left,
[class*="9-16"].rotate-left {
  shape-outside: polygon(-2% 6%, 77% 0%, 95% 94%, 16% 100%) margin-box;
}

[class*="9x16"].rotate-left[class*="large"],
[class*="9-16"].rotate-left[class*="large"] {
  margin: 2% 6% 2% 3%;
}

[class*="9x16"].rotate-left[class*="medium"],
[class*="9-16"].rotate-left[class*="medium"] {
  margin: 1% 4% 1% 2%;
}

[class*="9x16"].rotate-left[class*="small"],
[class*="9-16"].rotate-left[class*="small"] {
  margin: 1% 3% 1% 2%;
}

[class*="9x16"].rotate-right,
[class*="9-16"].rotate-right {
  shape-outside: polygon(21% 0%, 102% 6%, 83% 100%, 3% 94%) margin-box;
}

[class*="9x16"].rotate-right[class*="large"],
[class*="9-16"].rotate-right[class*="large"] {
  margin: 2% 3% 2% 5%;
}

[class*="9x16"].rotate-right[class*="medium"],
[class*="9-16"].rotate-right[class*="medium"] {
  margin: 2% 3% 2% 4%;
}

[class*="9x16"].rotate-right[class*="small"],
[class*="9-16"].rotate-right[class*="small"] {
  margin: 1% 2% 1% 3%;
}

[class*="16x9"].rotate-left,
[class*="16-9"].rotate-left {
  shape-outside: polygon(4% 18%, 86% 2%, 92% 82%, 10% 98%) margin-box;
}

[class*="16x9"].rotate-right,
[class*="16-9"].rotate-right {
  shape-outside: polygon(10% 2%, 92% 18%, 86% 98%, 3% 82%) margin-box;
}

.align-center .rotate-right {
  display: block;
  clear: both;
}

.align-center .rotate-left {
  display: block;
  clear: both;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}
/*# sourceMappingURL=rotate.module.css.map */