/**
 * Rotation classes for block level elements (images, videos, blockquotes, etc.)
 */
.rotate-left {
  transform: rotate(-7deg);
  padding: 6% 10% 6% 6%;
}
.rotate-right {
  transform: rotate(7deg);
  padding: 6% 10% 6% 6%;
}

.align-center.rotate-left {
  display: block;
  clear: both;
}

.align-center.rotate-right {
  display: block;
  clear: both;
}

